<h1>Create a new restaurant in Cancale</h1>

<%= simple_form_for (@restaurant) do |f| %>
  <%= f.input :name, placeholder:  "name of the resto" %>
  <%= f.input :category, placeholder:  "among the selected categories" %>
  <%= f.input :address, placeholder:  "address" %>
  <%= f.input :phone_number, placeholder:  "phone number" %>
<%end%>

<%end%>
